<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="club.gclmit.chaos.music.mapper.SingerMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="club.gclmit.chaos.music.model.pojo.Singer">
        <id column="id" property="id" />
        <result column="singer_id" property="singerId" />
        <result column="singer_mid" property="singerMid" />
        <result column="singer_name" property="singerName" />
        <result column="singer_pic" property="singerPic" />
    </resultMap>
</mapper>
